* {
    margin: 0;
    padding: 0;
}

.Hui-article-box .welcome {
    background: url('../../static/images/欢迎1.png') no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    box-sizing: border-box;
    width: 80%;
    float: left;
    margin-left: 100px;
}

.Hui-article-box .welcome .welcome1 {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -350px;
    font-size: 60px;
    color: #fff;
    text-align: center;
    height: 250px;
    width: 700px;
    background-color: rgba(74, 82, 89, .6);
}

.Hui-article-box .welcome .welcome1 h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 80px;
}